<nav class="drawer drawer--dark">
  <div class="drawer-spacer">
    <div class="media align-items-center">
      <a href="/" class="drawer-brand-circle mr-2">C</a>
      <div class="media-body">
        <a href="/" class="h5 m-0 text-link">Coverband Demo</a>
      </div>
    </div>
  </div>

  <!-- HEADING -->
  <div class="py-2 drawer-heading">
    Pages
  </div>

  <!-- MENU -->
  <ul class="drawer-menu" id="mainMenu" data-children=".drawer-submenu">
    <li class="drawer-menu-item">
      <a href="/">
        <i class="material-icons">home</i>
        <span class="drawer-menu-text">Home</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/posts">
        <i class="material-icons">menu</i>
        <span class="drawer-menu-text">Standard Rails</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="https://github.com/danmayer/coverband_demo">
        <i class="material-icons">menu</i>
        <span class="drawer-menu-text">Source on Github</span>
      </a>
    </li>
  </ul>

</nav>
